@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: "Poppins", sans-serif;
  background: linear-gradient(to bottom, #ffffff, #d1d1d1) no-repeat center center fixed;
  color:#242222;
  max-width: 1200px;
  margin: 0 auto;
  padding: 15px;
  }

.cabecalho {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-content: center;
  line-height: 10px;
  margin-top: 50px;
}

.logo h1 {
  font-weight: 400;
  font-size: 2rem;
}

.nav-links{
  display: flex;
  gap: 2rem;
  list-style: none;
  font-size: 1.5rem;
  font-weight: 400;
  color: #242222;  
}

.nav-links a {
  color: #242222;       /* Define a cor do texto */
  text-decoration: none; /* Remove o sublinhado */
}

#apresentation {
  margin-top: 10rem;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  font-size: 1.2rem;
}

.pic-container img {
  max-width: 350px;
  clip-path: circle(50%);
}

.section-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-text h1 {
  font-size: 2.3rem;
}

.sub-logo {
  font-size: 1.4rem;
  font-weight: 500;
  color:#707070;
}

.button-section {
  display: flex;
  justify-content: center;
  gap: 0.7rem;
  margin-top: 1rem;  
}

.btn {
  width: 7rem;
  height: 3rem;
  border-radius: 50px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 0.8rem;
  background-color: transparent;
  border: 1px solid #242222;
}

#btn-contact {
  background-color:#242222;
  color:#ffffff
}

.social-icons {
  margin-top: 10px;
  max-width: 40px;
}

#about {
  margin-top: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/*.pic-aside img {
    max-width: 350px;
    border-radius: 20px;
}*/

.box-about {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1.5rem;
  margin-top: 3rem;
}

.about-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #242222;
  width: 400px;
  height: 200px;
  gap: 0.4rem;
  border-radius: 30px;
  text-align: center;
}

.section-text-h1 {
  font-size: 2.3rem;
}

.section-text-p {
  font-size: 1rem;
  font-weight: 500;
  color:#707070;
}

.about-icons {
  margin-top: 10px;
  max-width: 30px;
}

.about-me-text {
  margin: 2rem;
  max-width: 800px;
  text-align: center;
  font-weight: 500;
  color:#707070;
}

#skills {
    margin-top: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.development-skills {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
  margin-top: 3rem;
  width: 40px;   /* Largura fixa do contêiner */
  height: 40px;  /* Altura fixa do contêiner */
}

.development-skills img {
  width: 100%;   /* Preenche a largura do contêiner */
  height: 100%;  /* Preenche a altura do contêiner */
}